/*********** 
   BASE
************/

.menu {
	font-family: 'Allerta Stencil', sans-serif;
	width:100%;
	background-color:#9dd0e1;
	overflow:hidden;
	top:0;
}

/*********** 
   MODULE
************/

.menu ul{ 
    list-style-type: none;
 	margin-right: 0;
 	padding:0;
 	overflow:hidden;
  	font-size: 20px;

}

.menu li{
	float:left;
	color:black;
	margin-top: 20px;
}

.menu a{
	display: block;
	text-decoration:none;
	padding-left: 10px;
	padding-right:20px;
	font-weight: bold;
	background-color: black;
}

.nav-right{
	float:right;
}

/*********** 
   STATE
************/


.menu a.is-current{
	background-color: #ffe6f3;
	color: black;
}


@media (max-width: 950px){
	.menu{
		float: left;
	}
}



