/*********** 
   BASE
************/

.container{
	margin: 10px;
	width: 100%;
	font-family: 'Stardos Stencil', cursive;
    color: black;
    display:flex;
    padding:15px;
}

h2{
	color: black;
	word-spacing: 5px;
	font-size: 30px;
	font-style: italic;
	text-align: center;
	border-bottom-style: solid;
	border-color:#9dd0e1;
	font-family: 'Allerta Stencil', sans-serif;

}

p{
	padding-left:15px;
	margin-left:25px;
	margin-right:100px;
}



.sign{
	padding: 10px 25px;
 	font-size: 20px;
	text-align: center; 
	outline: none;
	color: green;
	background-color: khaki;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Stardos Stencil', cursive;
}

.if{
	text-align: center;
}

footer{
	background-color: #9dd0e1;
	color: grey;
	text-align: center;
	font-size: 15px;
	margin-top: 140px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
}


/*********** 
   Layout
************/


.logo{
	float: left;
}

.force{
	padding-bottom: 50px;
}

.news{
	padding-bottom: 20px;
}


.form{
	padding-bottom: 200px;
}

.email{
	margin-bottom: 50px;
}

/*********** 
   MODULE
************/

.banner a{
	text-decoration: none;
}

.banner h1{
	font-size: 50px;
	border-bottom-style: double;
	margin-top: 0px;
	color: #F0E68C;
	font-family: 'Allerta Stencil', sans-serif;
}





.form input{
	padding-right: 200px;
}



/*********** 
   STATE
************/

.sign:hover{
	background-color: green;
	color: white;
}

@media (max-width: 540px){
	.banner h1{
		font-size: 40px;
	}
	.container img{
		width: 100%;
		height: auto;
	}
}

